.catalog {
    margin-top: 80px;
  }

.catalog-title {
    width: 558px;
    height: 50px;
  
    padding: 10px;
    gap: 10px;
  
    font-size: 20px;
    font-weight: 600;
  
    margin-left: 221px;
    margin-bottom: 40px;
  }
 
.catalog-grid {
    display: grid;
  
    grid-template-columns: repeat(6, 183px);
    column-gap: 80px;
    row-gap: 60px;
  
    margin-left: 209px;
  }
  
.catalog-item {
    width: 183px;
    height: 204px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
.catalog-item img {
    width: 183px;
    height: 140px;
    object-fit: contain;
  }
  
.catalog-item p {
    font-size: 14px;
    text-align: center;
  }